@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito-Sans, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    background-color: #f8f8f8 !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    text-align: left !important;
    text-transform: none !important;
    /*TODO: style ant design instead of using important*/
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content {
  max-width: 1296px;
  width: 100%;
}
