@import url("../public/css/responsive.css");
@import url("../public/css/bootstrap.min.css");
@import url("../public/css/flaticon.css");
@import url("../public/css/megadropdown.css");
@import url("../public/css/bootstrap-select.min.css");
@import url("../public/css/style.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}
.logo1 {
  height: 55px;
}